<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Appay.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4D279CC41BD11D5900BF9FDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D279CDA1BD11D5A00BF9FDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D279CE51BD11D5A00BF9FDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
