<div id="accounts_view" ng-init="init();">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Accounts</div>
                <!-- Table -->
                <table class="table">
                    <thead>
                        <tr>
                            <th>Iban</th>
                            <th>Name</th>
                            <th>Balance</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="account in accounts">
                            <td ng-bind="account.get('iban')"></td>
                            <td ng-bind="account.get('name')"></td>
                            <td ng-bind="account.get('balance')"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
