<div>
    <div class="row">
        <div class="col-lg-12">
        	<label for="inputEmail" class="sr-only">Email address</label>
			<input type="text" id="inputUserName" ng-model="user.inputUserName" class="form-control" placeholder="User Name" required autofocus>
			<label for="inputPassword" class="sr-only">Password</label>
			<input type="password" id="inputPassword" ng-model="user.inputPassword" class="form-control" placeholder="Password" required>
			<br />
			<button class="btn" ng-click="login()">Login</button>
        </div>
    </div>
</div>
